#headings{
    color: #f2bd60;

}

ul{
    color:#f2bd60;
}

span{
    color:white;
    font-family:calibri;
}

#tabulated{
    padding-left: 20px;
}

ul
{
    list-style: square;
}
div{

background-color:rgba(128, 128, 128, 0.23);
    width: 500px;
    border: 1px solid white;
    padding-left: 5px;

}

body{
    font-family:calibri;
}
